@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>
</div>


@{
    Write( Html.Partial( "~/Views/Partial/LevelUpBuilding.cshtml", Model ) );
    Write( Html.Partial("~/Views/Partial/UnitsQueue.cshtml", Model));
}


<div class="head">
    Armée actuelle sur place :
</div>

<table>

    @foreach( var unit in Model.AvailableUnit )
    {
        <form asp-controller="Army" asp-action="AddUnit" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
        <input type="hidden" asp-for="UnitTarget" value=@{ Write( (int)unit.UnitName ); } />
            <div class="row" style="margin-bottom: 20px;">
                <div class="invocation-building">
                    <div class="col-lg-2">
                        <div class="text">
                            @unit.Name
                        </div>
                    </div>
                    @{
                        int number = 0;
                        if (Model.CurrentArmy != null)
                        {
                            var regiment = Model.CurrentArmy.Regiments.Where(r => r.Unit.Name == unit.Name).FirstOrDefault();
                            number = regiment == null ? 0 : regiment.Number;
                        }

                    }
                    <div class="cost">
                        <div class="col col-lg-1 col-sm-1">@number</div>
                        <div class="col col-lg-1 col-sm-1">Bois @unit.UnitCost.Wood</div>
                        <div class="col col-lg-1 col-sm-1">Métal @unit.UnitCost.Metal</div>
                        <div class="col col-lg-1 col-sm-1">Magie @unit.UnitCost.Magic</div>
                        <div class="col col-lg-1 col-sm-1">Cristal @unit.UnitCost.Cristal</div>
                    </div>

                    @{
// Calcul du max d'unité que l'on peut faire pour cette unité

                    }
                    <div class="col-lg-3"><input class="form-control" style="width: 100%;" type="number" asp-for="UnitAmount" min="0" step="1" value="0" /></div>
                    <div class="col-lg-1">
                        <input type="submit" class="btn btn-link" value="Former" />
                    </div>
                </div>
            </div>

        </form>
                        }
</table>
