@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<h2>Laboratoire</h2>

@{
    Write( Html.Partial( "~/Views/Partial/LevelUpBuilding.cshtml", Model ) );
}

@*Faire les OwnTechnologies + LevelUp*@

@if( Model.AvailableTechnologies == null )
{
    <p>Vous n'avez pas de technologies disponibles.</p>
}
else
{
    <h3>Technologies disponibles</h3>
    @foreach( TechnologyLevel technologyLevel in Model.AvailableTechnologies )
    {
        <form asp-controller="Technology" asp-action="AddTechnology" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
            <input type="hidden" asp-for="TargetTechnology" value="@technologyLevel.TechnologyName" />
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-2">@Model.TechnologyManager.TechnologyNameToName( technologyLevel.TechnologyName )</div>
                @{

                }
                <div class="col-lg-1">@technologyLevel.Cost.Wood Bois</div>
                <div class="col-lg-1">@technologyLevel.Cost.Metal Métal</div>
                <div class="col-lg-1">@technologyLevel.Cost.Magic Magie</div>
                <div class="col-lg-1">@technologyLevel.Cost.Cristal Cristal</div>
                <div class="col-lg-1"><input type="submit" value="Rechercher" /></div>
            </div>
        </form>
      }
}
<h3>Toutes les technologies</h3>
@foreach( TechnologyLevel technologyLevel in Model.AllTechnologies )
{

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-2">@Model.TechnologyManager.TechnologyNameToName( technologyLevel.TechnologyName )</div>
        @{

        }
        <div class="col-lg-1">@technologyLevel.Cost.Wood Bois</div>
        <div class="col-lg-1">@technologyLevel.Cost.Metal Métal</div>
        <div class="col-lg-1">@technologyLevel.Cost.Magic Magie</div>
        <div class="col-lg-1">@technologyLevel.Cost.Cristal Cristal</div>
    </div>
}



