@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<h2>Laboratoire</h2>

@{
    Write( Html.Partial( "~/Views/Partial/LevelUpBuilding.cshtml", Model ) );
}

@foreach ( TechnologyDisplay technologyDisplay in Model.TechnologyDisplays )
{
    if ( technologyDisplay.IsAvailable && technologyDisplay.IsResearched )
    {
        <form asp-controller="Technology" asp-action="LevelUpTechnology" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
            <input type="hidden" asp-for="TargetTechnology" value="@technologyDisplay.TechnologyLevel.TechnologyName" />
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-2"> @{ Write( Model.TechnologyManager.TechnologyNameToName( technologyDisplay.TechnologyLevel.TechnologyName ) + " Niveau actuel : " + technologyDisplay.TechnologyLevel.Number ); } </div>

                <div class="col-lg-1">@technologyDisplay.Cost.Wood Bois</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Metal Métal</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Cristal Cristal</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Magic Magie</div>
                <div class="col-lg-1"><input type="submit" value="Level up !" /></div>
            </div>
        </form>
    }
    else if( technologyDisplay.IsAvailable && !technologyDisplay.IsResearched )
    {
        <form asp-controller="Technology" asp-action="AddTechnology" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
            <input type="hidden" asp-for="TargetTechnology" value="@technologyDisplay.TechnologyLevel.TechnologyName" />
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-2">@Model.TechnologyManager.TechnologyNameToName( @technologyDisplay.TechnologyLevel.TechnologyName )</div>

                <div class="col-lg-1">@technologyDisplay.Cost.Wood Bois</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Metal Métal</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Cristal Cristal</div>
                <div class="col-lg-1">@technologyDisplay.Cost.Magic Magie</div>
                <div class="col-lg-1"><input type="submit" value="Rechercher" /></div>
            </div>
        </form>
    }
    else
    {
        @Model.TechnologyManager.TechnologyNameToName( @technologyDisplay.TechnologyLevel.TechnologyName )
        <br />
            Write( "Cette technologie n'est pas encore disponible" );
        <br />
    }
                        <hr />
}



