@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel
@using ITI.SkyLord.Services

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="buildings-build">
            <div class="buildings-build-head">
                Niveau : @Model.CurrentBuilding.Level.Number
            </div>
            <p>Bonus apportés </p>
            @foreach ( Bonus bonus in @Model.CurrentBuilding.Level.Bonuses )
            {
                @BonusManager.StaticBonusToString( bonus ) <br />
            }

            <div class="buildings-build-body">
                <div class="buildings-build-head">
                    Niveau suivant
                </div>

                <p>Bonus apportés au niveau suivant </p>
                @foreach ( Bonus bonus in Model.NextBuildingLevel.Bonuses )
                {
                    @BonusManager.StaticBonusToString( bonus ) <br />
                }

                @if (Model.NextBuildingLevel == null)
                {
                    <p class="col-lg-12">Niveau maximum atteint</p>
                }
                else
                {
                    <div class="buildings-build-body-txt">
                        @{Write("Bois : " + Model.NextBuildingLevel.Cost.Wood + " " +
                 "Métal : " + Model.NextBuildingLevel.Cost.Metal + " " +
                "Cristal : " + Model.NextBuildingLevel.Cost.Cristal + " " +
                  "Magie : " + Model.NextBuildingLevel.Cost.Magic);}
                    </div>


                    <form asp-controller="Building" asp-action="LevelUpBuilding" asp-route-buildingPosition="@Model.Position" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
                        @if (Model.EventsOnBuilding.Count() != 0)
                        {
                            var dureeFin = Model.EventsOnBuilding.First().EndingDate - DateTime.Now;

                            <div>Amélioration en cours ...</div>
                            <div class="time" hours="@dureeFin.Hours" minutes="@dureeFin.Minutes" secondes="@dureeFin.Seconds">Time </div>
                        }
                        else
                        {
                            if ( Model.IsInConstruction )
                            {
                                <div>Un autre bâtiment est en train d'être construit ou amélioré</div>
                            }
                            else if ( RessourceManager.IsEnough( Model.Layout.CurrentIsland.AllRessources, Model.NextBuildingLevel.Cost ) )
                            {
                                <input type="submit" class="btn btn-link" value="Upgrade" />
                            }
                            else
                            {
                                <div>Vous n'avez pas assez de ressources pour passer au niveau suivant.</div>
                            }

                        }
                    </form>
                    }
            </div>
        </div>
    </div>

</div>
