@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

@if ( Model.UnitsQueue.Count() != 0 )
{
    <div>
        <h3> Queue </h3>

        @foreach (UnitQueue queueElement in Model.UnitsQueue)
        {
            <div>Unité : @queueElement.Unit.UnitName</div> <br />
            <div>Nombre : @queueElement.Number <br /></div>

            var dureeFin = queueElement.EndingDate - DateTime.Now;

            <div class="time" hours="@dureeFin.Hours" minutes="@dureeFin.Minutes" secondes="@dureeFin.Seconds">Time</div>
            <br />
        }
    </div>
}