@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model BuildingViewModel

@{
    ViewData[ "Title" ] = "View Buildings";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(function () {
        $("#CategoryID").change(function () {
            $('#Construcion').submit();
        });
    });

</script>

<ul>
    @*@foreach( Building building in Model.Buildings.OrderBy( b => b.Position) )
        {
            <li>
                Coucou @building.Name
            </li>
        }*@
    @for ( int i = 1; i <= Model.Layout.CurrentIsland.PossiblePositions; i++ )
    {
        Building building = Model.Layout.CurrentIsland.Buildings.Where( b => b.Position == i ).SingleOrDefault();
        <li>
            <h4>Emplacement @i :</h4>
            @if ( building == null )
            {
                <form id="Construcion" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-controller="Building" asp-action="AddBuilding">
                    <input type="number" value="@i" asp-for="@Model.Position" style="display : none" />

                    @Html.DropDownListFor( m => m.TargetBuilding, Model.AvailableConstructionBuildings, "-- Consutruire --", new { onchange = "this.form.submit()" } )
                </form>
            }
            else
            {
                @building.Name { Write( " ( Niveau " ); } @building.Level.Number { Write( " ) " ); }
                {
                    string nextLevelCost = " Cout du prochain niveau : Bois "
                        + Model.NextLevelCosts[i].Wood
                        + " Métal : " + Model.NextLevelCosts[ i ].Metal
                        + " Cristal : " + Model.NextLevelCosts[ i ].Cristal
                        + " Magie : " + Model.NextLevelCosts[ i ].Magic;
                    Write( nextLevelCost );
                }
                <form asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-controller="Building" asp-action="LevelUpBuilding">
                    <input type="number" value=@{ Write( (int)building.BuildingName ); } asp-for="@Model.TargetBuilding" style="display : none" />
                    <input type="number" value="@i" asp-for="@Model.Position" style="display : none" />
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Level Up </button>
                </form>
    }
        </li>
    }
</ul>
<ul>
    @foreach ( var building in Model.AvailableBuildings )
    {
        <li>
            @building.Name
            <form asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-controller="Building" asp-action="AddBuilding">

                <input type="number" value=@{ Write( (int)building.BuildingName ); } asp-for="@Model.TargetBuilding" style="display : none" />
                <button>Construire</button>
            </form>
        </li>

    }
</ul>
