@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeIslands.SeeIslandViewModel

@using System.Collections.Generic
@using ITI.SkyLord
@using ITI.SkyLord.ViewModel.Partial


@{
    ViewData["Title"] = "View Islands";
    Layout = "_Layout";
    Model.CurrentIsland = Model.CurrentIsland;

}

<style>
    #SeeMyIsland {
        display: block;
        border: solid black 2px;

        width: 500px;
        min-width: 500px;
        max-width: 500px;

        height: 600px;
        min-height: 600px;
        max-height: 600px;

        background-image: url("/images/SeeMyIsland/nuage_fond.jpg");
        background-repeat: no-repeat;
        background-position : center;
    }

    #Island {
        position: relative;
        top:0px;
        left: 0px;

        display: block;
            
        width: 500px;
        min-width: 500px;
        max-width: 500px;

        height: 600px;
        min-height: 600px;
        max-height: 600px;

        background-image: url("/images/SeeMyIsland/ile.png");
        background-repeat: no-repeat;
        background-position : center;
    }

    .Building {
        position: relative;

        width: 50px;
        min-width: 50px;
        max-width: 50px;

        height: 50px;
        min-height: 50px;
        max-height: 50px;
        background-color: pink;
        border: black solid 1px;
    }

    .Building img {
        width: 50px;
        min-width: 50px;
        max-width: 50px;

        height: 50px;
        min-height: 50px;
        max-height: 50px;
    }

    #place_1 {
        top:213px;
        left: 209px;
    }
    #place_2 {
        top:236px;
        left: 209px;
    }
    #place_3 {
        top:167px;
        left: 140px;
    }
    #place_4 {
        top:150px;
        left: 90px;
    }
    #place_5 {
        top:140px;
        left: 140px;
    }
    #place_6 {
        top:105px;
        left: 209px;
    }
    #place_7 {
        top:38px;
        left: 270px;
    }
    #place_8 {
        top:-44px;
        left: 332px;
    }
    #place_9 {
        top: -126px;
        left: 276px;
    }
    #place_10 {
        top:-25px;
        left: 209px;
    }

    .Building[buildingname="tower"] 
    {
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        background-color: yellow;
    }
    .Building[buildingname="tower"] img
    {
        width: 50px;
        min-width: 50px;
        max-width: 50px;

        height: 100px;
        min-height: 100px;
        max-height: 100px;
    }

    .templatebuilding {
        height: 600px;
        background-color: #bada55;

    }

</style>

<h2>@Model.CurrentIsland.Name (@Model.CurrentIsland.Coordinates.X, @Model.CurrentIsland.Coordinates.Y)</h2>

<div class="row">
    <div id="SeeMyIsland" class="col-lg-6">
        <div id="Island">
            @for (var i = 1; i != 11; i++)
            {
                Building myBuilding;
                string name;

                @if (Model.DicoBuildings.TryGetValue(i.ToString(), out myBuilding))
                {
                    name = myBuilding.BuildingName.ToString();
                }
                else
                {
                    name = "empty";
                }

                <div class="Building" buildingname="@name" id="place_@i" templateid="@i">
                    @{
                        name += ".png";
                    }
                    <img src="~/images/SeeMyIsland/@name" alt=@name/>
                </div>
                }
        </div>

    </div>

    <div id="UI" class="col-lg-6">

        @for (var i = 1; i != 11; i++)
        {
            Building myBuilding;
            string name;

            @if (Model.DicoBuildings.TryGetValue(i.ToString(), out myBuilding))
            {
                name = myBuilding.BuildingName.ToString();
            }
            else
            {
                name = "empty";
            }

            <div class="templatebuilding" id="ui_@i" buildingname="@name" style="display:none;">
                @{
                    BuildingPartialViewModel partialModel = new BuildingPartialViewModel()
                    {
                        CurrentBuilding = myBuilding,
                        Position = i,
                        AvailableBuildings = Model.AvailableBuildings,
                        Layout =Model.Layout,
                    };
                    Write(Html.Partial("~/Views/Partial/" + name + ".cshtml", partialModel));
                }
            </div>
                    }

    </div>
</div>

<script src="/js/seeIsland.js"></script>

