@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeIslands.SeeOtherIslandViewModel

    @{
        ViewData["Title"] = "View other Island";
        Layout = "_Layout";
    }

    @*Intégrer l'image de base de l'île à gauche
        Sur la droite mettre les différentes possibilités à effectuer sur une île.*@


    <div class="MainContentSeeMyIsland">
        <div class="row">
            <div id="Test">
                <div id="SeeMyIsland">

                    <img src="~/images/SeeMyIsland/ile.gif" />
                </div>

            </div>
            <div id="UI">

                @if( Model.HasOwner )
                {
                    <h1>Île : @Model.TargetIsland.Name [@Model.TargetIsland.Coordinates.X, @Model.TargetIsland.Coordinates.Y]</h1>
                    <h2><a asp-controller="Profil" asp-action="ProfilOfOtherPlayer" asp-route-islandId="@Model.Layout.IslandId" asp-route-otherPlayerId="@Model.TargetIsland.Owner.PlayerId">@Model.TargetIsland.Owner.Name</a></h2>
                    <a asp-controller="Army" asp-action="SetAttackingArmy" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-route-ennemyIslandId="@Model.IslandIdOfOther">Attaquer</a><br />
                    <a asp-controller="Army" asp-action="SetMovement" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-route-ennemyIslandId="@Model.IslandIdOfOther">Envoyer des renforts</a><br />
                    @*<a asp-controller="Army" asp-action="SetSendRessources" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-route-ennemyIslandId="@Model.IslandIdOfOther">Envoyer des ressources</a><br />*@

                }
                else
                {

                    <a asp-controller="Army" asp-action="SetMovement" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-route-ennemyIslandId="@Model.IslandIdOfOther">Coloniser cette île</a>

                }

            </div>
        </div>
    </div>
