
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeRessources.SeeRessources
@using ITI.SkyLord

@{
    ViewData["Title"] = "View Ressources";
    Layout = "_Layout";
}

<h1>Ressources</h1>

@{ Ressource r = Model.Ressources;}

<table>
    <tr>
        <th>Cristal </th>
        <th>Magic </th>
        <th>Wood </th>
        <th>Metal</th>
    </tr>
    <tr>
        <td>@r.Cristal</td>
        <td>@r.Wood</td>
        <td>@r.Magic</td>
        <td>@r.Metal</td>
        <td><a asp-action="AddRessources" asp-route-id="@r.Cristal" asp-controller="Ressource">Ajouter ressource</a></td>
    </tr>

</table>

<br />
<td><a asp-action="SeeMyIsland" asp-controller="Island">Retour</a></td>

