@using System.Security.Claims
@model ITI.SkyLord.ViewModel.StandardViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <title>Skylord</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/SkyLord.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/SkyLord.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/SkyLord.png" class="img-responsive" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Amis</a></li>
                    <li><a asp-controller="Army" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Armées</a></li>
                    <li><a asp-controller="Player" asp-action="SeePlayers" asp-route-islandId="@Model.Layout.IslandId">Joueurs</a></li>
                    <li><a asp-controller="Message" asp-action="GetAllMessages" asp-route-islandId="@Model.Layout.IslandId">Messages</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Guilde</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Forum</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Classement</a></li>
                    <li><a asp-controller="Profil" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Profil</a></li>
                    <li>
                        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Déconnexion</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h3>Ressources</h3>
        <form class="form-inline">
            Bois : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Wood readonly>
            Magie : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Magic readonly>
            Métal : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Metal readonly>
            Cristal : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Cristal readonly>
        </form>

        <form asp-controller="Player" asp-action="SeeInformationOfAnPlayerString" asp-route-islandId="@Model.Layout.IslandId" method="post" role="form">
            <br /><input type="text" placeholder="Recherche ..." name="namePlayer" id="searchPlayer" size="50" style="color:black" />
            <button class="btn btn-danger">Go</button>
        </form>
    </div>

    <div class="PointCounter">
        <p>Points : 0</p>
    </div>
    <!-- /.Menu -->

    <div class="ViewContentRow">
        @RenderBody()
    </div>

    <!-- /.ViewContent -->
    <center><h2>Nos partenaires</h2></center>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p><span class="glyphicon glyphicon-map-marker"></span> Ivry sur seine, France</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 00000000</p>
                <p><span class="glyphicon glyphicon-envelope"></span> SkyLordTeam@intechinfo.fr</p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Nom" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Commentaire" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Set height and width with CSS -->
    <div id="googleMap" style="height:400px;width:100%;"></div>

    <!-- Add Google Maps -->
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        var myCenter = new google.maps.LatLng(48.8167, 2.3833);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 12,
                scrollwheel: false,
                draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <footer class="container-fluid text-center">
        <ul class="nav nav-pills nav-justified">
            <li><a asp-controller="Home" asp-action="Index">Mentions légales</a></li>
            <li><a asp-controller="Home" asp-action="Index">Support</a></li>
            <li><a asp-controller="Home" asp-action="Index">Version du site</a></li>
            <li><a asp-controller="Home" asp-action="Index">Mentions légales</a></li>
            <li><a href="https://www.facebook.com/skylordgame">Notre page Facebook</a></li>
            <li><a href="http://intechinfo.fr">IN'TECH</a></li>
        </ul>
    </footer>

    <environment names="Development">
        <!-- Quand on est en développement -->
        @*<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/searchPlayer.js"></script>
    </environment>

    <environment names="Staging,Production">
        <!-- Quand on est en production -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
