@using System.Security.Claims
@model ITI.SkyLord.ViewModel.StandardViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Skylord</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/SkyLord.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/SkyLord.css" />
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/searchPlayer.js"></script>
        <script src="~/js/timeManager.js"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/searchPlayer.js"></script>
        <script src="~/js/timeManager.js"></script>
    </environment>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Army" asp-action="SetAttackingArmy" asp-route-islandId="@Model.Layout.IslandId">Armées</a></li>
                    <li><a asp-controller="Player" asp-action="SeePlayers" asp-route-islandId="@Model.Layout.IslandId">Joueurs</a></li>
                    <li><a asp-controller="Message" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Messages</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Classement</a></li>
                    <li><a asp-controller="Profil" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Profil</a></li>
                    <li>
                        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                            <button type="submit" class="btn btn-link">Déconnexion</button>
                        </form>
                    </li>
                    <li>
                        <form asp-controller="Player" asp-action="SeeInformationOfAnPlayerString" asp-route-islandId="@Model.Layout.IslandId" method="post" role="form">
                            <center>
                                <input type="text" placeholder="Recherche ..." name="namePlayer" id="searchPlayer" size="15" style="color:black" />
                                <button class="btn btn-danger">Go</button>
                            </center>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="SkyLordContainer">
        <div class="SkyLordMainRow">
            <div class="SkylordSideBar">
                <img src="~/images/SkyLord.png" class="img-responsive" />

                <a asp-controller="Island" asp-action="OverView" asp-route-islandId="@Model.Layout.IslandId">Vue d'ensemble</a>
                <a asp-controller="World" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Carte du monde</a>
                <p>Mes ïles :</p>
                    @foreach (Island island in Model.Layout.AllIslands)
                    {
                        string selector = island.IslandId == Model.Layout.IslandId ? "CurrentIsland" : "OtherIsland";
                        string islandName = island.IsCapital ? "Capitale" : island.Name;

                        <div class="@selector"><a asp-controller="Island" asp-action="SeeMyIsland" asp-route-islandId="@island.IslandId"> @islandName [@island.Coordinates.X, @island.Coordinates.Y]</a></div>
                    }
            </div>

            <div class="PageContent">

                <div class="RessourceLine">
                    <form class="form-inline">
                        Bois : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Wood readonly>
                        Métal : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Metal readonly>
                        Cristal : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Cristal readonly>
                        Magie : <input type="text" class="form-control" size="5" placeholder=@Model.Layout.CurrentIsland.AllRessources.Magic readonly>
                    </form>
                </div>

                <div class="ViewContentRow">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <ul class="nav nav-pills nav-justified">
            <li><a asp-controller="Home" asp-action="Index">Mentions légales</a></li>
            <li><a asp-controller="Home" asp-action="Index">Support</a></li>
            <li><a asp-controller="Home" asp-action="Index">Version du site</a></li>
            <li><a href="https://www.facebook.com/skylordgame" target="_blank">Notre page Facebook</a></li>
            <li><a href="http://intechinfo.fr" target="_blank">IN'TECH</a></li>
        </ul>
    </footer>



    @*@RenderSection("scripts", required: false)*@
</body>

</html>
