@using System.Security.Claims
@model ITI.SkyLord.ViewModel.StandardViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skylord</title>

    <environment names="Development">
        <!-- Quand on est en développement -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link rel="stylesheet" type="text/css" href="~/css/SkyLord.css" />
    </environment>
    <environment names="Staging,Production">
        <!-- Quand on est en production -->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
    </environment>

    <environment names="Development">
        <!-- Quand on est en développement -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/searchPlayer.js"></script>
    </environment>

    <environment names="Staging,Production">
        <!-- Quand on est en production -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
    </environment>





</head>
<body>
    <div class="container-fluid body-content">
        <div class="row">
            <!-- BEGIN SIDEBAR-->
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 sidebar">
                <img src="~/images/SkyLord.png" class="img-responsive" />
                <a asp-controller="Home" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Vue d'ensemble</a>
                <a asp-controller="World" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Carte du monde</a>

                <p>Mes îles</p>

                <ul>
                    <li><a asp-controller="Island" asp-action="SeeMyIsland">Capitale</a></li>
                    @foreach ( Island island in Model.Layout.AllIslands )
                    {
                        @if ( !island.IsCapital )
                        {
                            <li><a asp-controller="Island" asp-action="SeeMyIsland" asp-route-islandId="@island.IslandId">@island.Name</a></li>
                        }
                    }

                </ul>
            </div>
            <!-- END SIDEBAR -->

            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <!-- Menu-->
                <div class="row menu">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <p>Points : 0</p>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if(User.IsSignedIn())
                        {
                        <form asp-controller="Home" asp-action="Index" method="post" id="FriendsForm">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Amis</button>
                        </form>
                        }

                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if (User.IsSignedIn())
                        {
                            <a asp-controller="Army" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Armées</a>
                        }
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <form asp-controller="Home" asp-action="Index" method="post" id="RankingForm">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Classement</button>
                        </form>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <form asp-controller="Home" asp-action="Index" method="post" id="ForumForm">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Forum</button>
                        </form>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if (User.IsSignedIn())
                        {
                            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Déconnexion</button>
                            </form>
                        }
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if (User.IsSignedIn())
                        {
                            <form asp-controller="Player" asp-action="SeePlayers" asp-route-islandId="@Model.Layout.IslandId" method="post" id="seePlayerForm">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Joueurs</button>
                            </form>
                        }
                    </div>


                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <form asp-controller="Player" asp-action="SeeInformationOfAnPlayerString" asp-route-islandId="@Model.Layout.IslandId" method="post" role="form">
                            <input type="text" placeholder="Recherche ..." name="namePlayer" style="width:70%" id="searchPlayer"><input style="width:20%;" type="submit" value="Go" /><br />
                            @*<label>Joueur</label><input type="radio" />
                                <label>Guilde</label><input type="radio" />*@
                        </form>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if (User.IsSignedIn())
                        {
                            <a asp-controller="Home" asp-action="Index">Guilde</a>
                        }

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if(User.IsSignedIn())
                        {
                        <a asp-controller="Message" asp-action="GetAllMessages" asp-route-islandId="@Model.Layout.IslandId">Messages</a>
                        }

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @if(User.IsSignedIn())
                        {
                        <a asp-controller="Profil" asp-action="Index" asp-route-islandId="@Model.Layout.IslandId">Profil</a>
                        }

                    </div>
                </div>
                <!-- END ROW MENU-->
                <!-- Ressource View-->
                <div class="row ressource">
                    <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                        <p>Bois : @Model.Layout.CurrentIsland.AllRessources.Wood </p>
                    </div>
                    <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                        <p>Metal : @Model.Layout.CurrentIsland.AllRessources.Metal </p>
                    </div>
                    <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                        <p>Cristal : @Model.Layout.CurrentIsland.AllRessources.Cristal </p>
                    </div>
                    <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                        <p>Magie : @Model.Layout.CurrentIsland.AllRessources.Magic </p>
                    </div>
                </div>
                <!-- END ROW RESSOURCES -->
                <!-- Mouvement de troupe-->
                <div class="row text-center troupe">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        @*@if (Model.AttackerArmy.Count != 0)
                            {
                                <p>Mouvement de troupe</p>
                                @foreach (Army t in Model.AttackerArmy)
                                {


                                }
                            }*@
                    </div>
                </div>
                <!-- END ROW MOUVEMENT TROUPE-->
                <!-- Corps de la page en fonction de la bonne page à afficher -->
                <div class="row content">
                    @RenderBody()
                </div>
                <!-- END ROW BODY-->
                <!-- Footer-->
                <div class="row footer">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a asp-controller="Home" asp-action="Index">Mentions légales</a></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a asp-controller="Home" asp-action="Index">Support</a></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a asp-controller="Home" asp-action="Index">Version du site</a></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="https://www.facebook.com/skylordgame">Notre page Facebook</a></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="https://translate.google.fr/translate?sl=en&tl=fr&js=y&prev=_t&hl=fr&ie=UTF-8&u=http%3A%2F%2Fwww.youporn.com&edit-text=&act=url">Notre page YouPorn</a></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="http://intechinfo.fr">IN'TECH</a></div>
                </div>
                <!-- END ROW FOOTER-->
            </div>
        </div>
    </div>

    

    @RenderSection("scripts", required: false)
</body>
</html>
