@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.MessageViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "Messages";
    Layout = "_Layout";
}

<h1>Boite de réception</h1>
<table>
    <tr>
        <td>Objet du message</td>
        <td>Heure d'envoi</td>
    </tr>

        @foreach( Message m in Model.AllMessages.Where( u => u.isCombatReport == false) )
        {
            <tr>
                @if( m.Read )
                { 
                    <td><a asp-controller="Message" asp-action="SeeThisMessage" asp-route-messageId="@m.MessageId" asp-route-islandId="@Model.Layout.IslandId">@m.MessageObject</a></td>
                }
                else
                {
                    <td><a asp-controller="Message" asp-action="SeeThisMessage" asp-route-messageId="@m.MessageId" asp-route-islandId="@Model.Layout.IslandId"><strong>@m.MessageObject</strong></a></td>
                }


                <td>@m.DateSent</td>
            </tr>
        }
 
</table>
