@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.MessageViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "Message";
    Layout = "_Layout";
}

<div class="messageContainer">
    <div class="container text-center">
        <div class="row">

            <div class="col-sm-2 col-md-2">

                <input type="button" class="btn btn-danger" id="sendMessage" value="Nouveau message" />
                <!-- Modal -->
                <div class="modal fade" id="ModalLogin" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4><span class="glyphicon glyphicon-envelope"></span> Nouveau Message</h4>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                                <form asp-controller="Message" asp-action="SendMessage" asp-route-islandId="@Model.Layout.IslandId" method="post" class="form-horizontal" role="form">
                                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label for="to"><span class="glyphicon glyphicon-user"></span> A : </label>
                                        <input asp-for="To" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="object"><span class="glyphicon glyphicon-comment"></span> Objet du message : </label>
                                        <input asp-for="ObjectOfSender" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="core"><span class="glyphicon glyphicon-comment"></span> Corps du message</label>
                                        <textarea asp-for="Answer" class="form-control"></textarea>
                                    </div>

                                    <input type="submit" class="btn-link" value="Envoyer le message" />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuler</button>
                            </div>
                        </div>

                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#sendMessage").click(function () {
                            $("#ModalLogin").modal();
                        });
                    });
                </script>



                <ul class="nav nav-pills nav-stacked" id="bt-reception" data-spy="affix" data-offset-top="205">
                    <li><a asp-controller="Message" asp-action="GetAllMessages" asp-route-islandId="@Model.Layout.IslandId">Boite de réception</a></li>
                </ul>
            </div>

            <div class="col-sm-7 col-md-7">
                <div id="msgObject">
                    @Model.Message.MessageObject<hr />
                </div>

                <div id="msgCore">
                    @Model.Message.DateSent<hr />
                    @Model.Message.CoreMessage<hr />
                </div>


                @if (!Model.Message.isCombatReport)
                {

                    <div id="msgCore">
                        <div class="form-group">
                            <textarea class="form-control" rows="2" id="comment" data-toggle="collapse" data-target="#demo" readonly>Cliquez ici pour répondre ...</textarea>
                        </div>

                        <div id="demo" class="collapse">

                            <form asp-controller="Message" asp-action="Answer" asp-route-islandId="@Model.Layout.IslandId" asp-route-messageId="@Model.Message.MessageId" role="form" method="post">
                                <input type="hidden" asp-for="@Model.FromId" value="@Model.FromId" />
                                <div class="form-group">
                                    <span class="glyphicon glyphicon-user"></span><input type="text" class="form-control" asp-for="ObjectOfSender" id="object" value="A  @Model.Message.Sender.Mail" />
                                </div>

                                <br />
                                <div class="form-group">
                                    <span class="glyphicon glyphicon-comment"></span><textarea asp-for="Answer" class="form-control" id="core"></textarea><br />
                                </div>
                                <button><span id="answerMessage" class="glyphicon glyphicon-send"></span></button>
                            </form>
                        </div>

                    </div>
                }
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-share-alt"></span></button>
                    <button type="button" class="btn btn-danger" dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-controller="Message" asp-action="UnReadMessage" asp-route-messageId="@Model.Message.MessageId" asp-route-islandId="@Model.Layout.IslandId">Marquer comme non lu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>