@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.CombatReportViewModel
@using ITI.SkyLord

@{
    ViewData[ "Title" ] = "Armées";
    Layout = "_Layout";
}
@{
    <p> Ressrouces pillées : <br />
        @Model.CombatResult.PillagedRessources.Wood <br />
        @Model.CombatResult.PillagedRessources.Metal <br />
        @Model.CombatResult.PillagedRessources.Cristal <br />
        @Model.CombatResult.PillagedRessources.Magic <br />
    </p>

    <p> Gagant : @Model.CombatResult.WinningArmy.Island.Owner.Name </p>
    <p> Perdant : @Model.CombatResult.LoosingArmy.Island.Owner.Name </p>
    
}
