@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.CombatReportViewModel
@using ITI.SkyLord

@{
    ViewData[ "Title" ] = "Armées";
    Layout = "_Layout";
}
@{
    <p> Ressources pillées :
        Bois : @Model.CombatResult.PillagedRessources.Wood
        Métal : @Model.CombatResult.PillagedRessources.Metal
        Cristal : @Model.CombatResult.PillagedRessources.Cristal
        Magie : @Model.CombatResult.PillagedRessources.Magic 
    </p>

    <p> Gagnant : @Model.CombatResult.WinningArmy.Island.Owner.Name </p>
    <p> Perdant : @Model.CombatResult.LoosingArmy.Island.Owner.Name </p>
    
}
