@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.SeeArmyViewModel
@using ITI.SkyLord

@{
    ViewData[ "Title" ] = "Armées";
    Layout = "_Layout";
}

<h1>Armées</h1>

@foreach ( Army a in Model.CurrentIslandArmies )
{
    <ul>
        <li> ArmyId : @a.ArmyId</li>
        @foreach ( Regiment r in a.Regiments )
        {
            <li> Unité : @r.Unit.Name  Nombre : @r.Number</li>
        }
    </ul>
}
<form asp-controller="Army" asp-action="AddUnit" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
<table>
    <tr>
        <td asp-for="@Model.NumberGuard">Garde</td>
        <td><input asp-for="NumberGuard" placeholder="0"/></td>
    </tr>
    <tr>
        <td asp-for="@Model.NumberNecromancer">Nécromancien</td>
        <td><input asp-for="NumberNecromancer" /></td>
    </tr>
</table>
    <button>Entrainer les unités</button>
</form>
