@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.SetColonisationViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "Coloniser une île";
    Layout = "_Layout";
}

<div class="armyContainer">
    <div class="army">
        <div class="army-body">

            <div class="army-head">
                Apprentis
            </div>

            <div class="army-head">
                Planification de la colonisation
            </div>

            @if (!Model.HasApprentice)
            {
                <p>Vous n'avez pas d'apprenti ! Allez au portail d'invocation pour en créer ! </p>
            }
            else if (Model.IsMaxIslandReached)
            {
                <p> Vous avez atteint le maximum d'îles que vous pouvez contrôller </p>
            }
            else
            {
                <form asp-controller="Army" asp-action="SendColonisation" asp-route-islandId="@Model.Layout.IslandId" method="post" role="form">

                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <p>Votre apprenti peut transporter @Model.CapacityOfCarrier ressources.</p>
                    @* Tableau pour voir nos unité et voir qui l'on envoi *@
                    <table class="ressourcesTable">
                        <tr>
                            <td>Bois</td>
                            <td>Métal</td>
                            <td>Cristal</td>
                            <td>Magie</td>
                        </tr>
                        <tr>
                            <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Wood" step="1" asp-for="Wood" value="0" /></td>
                            <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Metal" step="1" asp-for="Metal" value="0" /></td>
                            <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Cristal" step="1" asp-for="Cristal" value="0" /></td>
                            <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Magic" step="1" asp-for="Magic" value="0" /></td>
                        </tr>
                    </table>
                    <input type="hidden" asp-for="@Model.CapacityOfCarrier" value="@Model.CapacityOfCarrier" />
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <label for="pos-x"></label><input type="number" name="pos-x" value="@Model.PossibleColonisableIslands.First().Coordinates.X" />
                    <label for="pos-y"></label><input type="number" name="pos-y" value="@Model.PossibleColonisableIslands.First().Coordinates.Y" />
                    @*Envoi de ressources*@

                    @* Petit moyen pour chercher l'île en fonction des coordonnées *@

                    @* Choix de la cible *@
                    <select asp-for="@Model.Target" id="EnnemyToAttack">
                        @foreach (Island i in Model.PossibleColonisableIslands)
                        {
                            string selected = "";
                            if (Model.BarbarianIslandId == i.IslandId)
                            {
                                <option value="@i.IslandId" pos-x="@i.Coordinates.X" pos-y="@i.Coordinates.Y" selected="selected">
                                    île sauvage [@i.Coordinates.X, @i.Coordinates.Y]
                                </option>
                            }
                            else
                            {
                                <option value="@i.IslandId" pos-x="@i.Coordinates.X" pos-y="@i.Coordinates.Y">
                                    île sauvage [@i.Coordinates.X, @i.Coordinates.Y]
                                </option>
                            }
                        }
                    </select>

                    <input type="submit" value="Envoyer l'apprenti" />

                </form>
                <script src="/js/AttackManager.js"></script>
            }
        </div>
    </div>
</div>
