@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.SetSendRessourcesViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "Envoyer des ressources";
    Layout = "_Layout";
}

<style>
    .ListArmy td {
        border: 2px solid black;
        padding-right: 5px;
        padding-left: 5px;
    }
</style>

<h1>Transporteurs</h1>

@*<h2>Armées en cours de mouvement</h2>
@{
    var allAttackingArmies = Model.AllPlayerArmiesEvent.Where(a => a.Army.ArmyState == ArmyState.movement).OrderBy(a => a.EndingDate).ToList();
    if (allAttackingArmies.Count != 0)
    {
        foreach (var army in allAttackingArmies)
        {
            if (army.Army.ArmyState == ArmyState.movement)
            {
                <p>
                    @{
                        if (@army.Destination.Owner != null)
                        {
                            <div>Attaque vers @army.Destination.Owner.Name [@army.Destination.Coordinates.X, @army.Destination.Coordinates.Y]</div>
                        }
                        else
                        {
                            <div>Attaque vers une île barbare [@army.Destination.Coordinates.X, @army.Destination.Coordinates.Y]</div>
                        }
                    }
                    <br />
                    Arrivé à @army.EndingDate.Hour heure @army.EndingDate.Minute minutes @army.EndingDate.Second secondes
                </p>
            }
            <hr />

        }
    }
    else
    {
        <p>Aucune attaque planifiée</p>
    }
}*@


<h2>Planification d'un envoi de ressources</h2>
@if (Model.NumberOfTransportorToSend > 0 )
{
    <form asp-controller="Army" asp-action="SendRessources" asp-route-islandId="@Model.Layout.IslandId" method="post" role="form">

        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        @* Tableau pour voir nos unité et voir qui l'on envoi *@
        <table class="ListArmy">
            <tr>
                <td>Unité</td>
                <td>Disponible</td>
                <td>A envoyer</td>
            </tr>
            <tr>
                <td>Transporteur</td>
                <td>@Model.NumberOfTransportorToSend</td>
                @*Doute sur le max*@
                <td><input type="number" min="0" max="@Model.NumberOfTransportorToSend" step="1" asp-for="NumberOfTransportorToSend" value="0" /></td>
            
            </tr>
            }
        </table>
        <table>
            <tr>
                <td>Bois</td>
                <td>Métal</td>
                <td>Cristal</td>
                <td>Magie</td>
            </tr>
            <tr>
                <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Wood" step="1"  asp-for="Wood" value="0" /></td>
                <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Metal" step="1" asp-for="Metal" value="0" /></td>
                <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Cristal" step="1" asp-for="Cristal" value="0" /></td>
                <td><input type="number" min="0" max="@Model.SenderIsland.AllRessources.Magic" step="1" asp-for="Magic" value="0" /></td>
            </tr>
        </table>

        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        @*Envoi de ressources*@

        @* Petit moyen pour chercher l'île en fonction des coordonnées *@
        <label for="pos-x"></label><input type="number" name="pos-x" value="@Model.SendableIslands.First().Coordinates.X" />
        <label for="pos-y"></label><input type="number" name="pos-y" value="@Model.SendableIslands.First().Coordinates.Y" />

        @* Choix de la cible *@
        <select asp-for="@Model.Target" id="EnnemyToAttack">
            @foreach( Island i in Model.SendableIslands )
            {
                string name = i.Owner.Name;

                string selected = "";
                if (Model.AllyIslandId == i.IslandId)
                {
            <option value="@i.IslandId" pos-x="@i.Coordinates.X" pos-y="@i.Coordinates.Y" nameOwner="@name" selected="selected">
                @name [@i.Coordinates.X, @i.Coordinates.Y]
            </option>
                }
                else
                {
            <option value="@i.IslandId" pos-x="@i.Coordinates.X" pos-y="@i.Coordinates.Y" nameOwner="@name">
                @name [@i.Coordinates.X, @i.Coordinates.Y]
            </option>
                }
            }
        </select>

        <input type="submit" value="Envoyer les ressources" />

    </form>
    <script src="/js/AttackManager.js"></script>
}
else
{
    <p>Vous n'avez pas de transporteur ! Allez au portail d'invocation pour ravitailler les îles amies ! </p>
}
