@model ITI.SkyLord.ViewModel.World.WorldMapViewModel

@{ 
    Random random = new Random();
}
<style>
    #draggable {
        position: relative;
        top: -100px;
        
        width: 10000px;
        height: 10000px;

        background-image: url("/images/WorldMap/Nuage.jpg");
        background-repeat: repeat;
        background-size: 500px 500px;
    }
    .map {
        background-image: url("/images/WorldMap/Nuage.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        width: 500px;
        height: 500px;
        border: black solid 2px;
        overflow: hidden;
    }
    .map td {   
        width: 64px;
        height: 64px;
        background-color: rgba(0,0,0,0);
        min-width: 64px;
        min-height: 64px;
        max-width: 64px;
        max-height: 64px;
        overflow: visible;
    }
    #MyIsland {
        background-color: pink;
    }
    .Island:hover {
        cursor: pointer;
        border: solid black 1px;
    }
    td.Island {
        background-image: url("/images/WorldMap/villagechibi.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Island > div {
        overflow: visible;
        position:relative;
        text-align: center;
        top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    td.Empty {
        background-color: rgba(0,0,0,0);
    }
    #Menu {
        position: absolute;

        background-color: black;
        color: white;
        border-radius: 20px;
        border: solid rgba(39, 36, 36, 1.00) 1px;
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    #Menu ul 
    {
        list-style-type: none;
    }
    .IslandEnnemy {
        background-image: url("/images/WorldMap/villagechibiennemi.png") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .EmptyMonster {
        background-image: url("/images/WorldMap/monstre.gif") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .EmptyHotAirBalloon {
        background-image: url("/images/WorldMap/montgolfière.gif") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .EmptyHotAirBalloon {
        background-image: url("/images/WorldMap/montgolfière.gif") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .EmptySnake {
        background-image: url("/images/WorldMap/serpent.gif") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .IslandBarBare {
        background-image: url("/images/WorldMap/villagechibibarbare.png") !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

</style>

<button id="CenterIsland">Centrer sur mon île</button>

<!-- World Map -->
<div class="map">
<div id="draggable">
<!-- Map OTD -->
<table>
@for (var i = 0; i < 100; i++)
{
    <tr>
        @for (var j = 0; j < 100; j++)
        {
            string key = i + "_" + j;
            int selectedrandom = random.Next(1,300);
            Island island = null;

            if(Model.Layout.CurrentIsland.Coordinates.X == j && Model.Layout.CurrentIsland.Coordinates.Y == i)
            {
                <td class="Island" id="MyIsland" x="@j" y="@i" islandid="@Model.Layout.CurrentIsland.IslandId"></td>
            }
            else if (Model.Map.TryGetValue(key, out island))
            {
                if (island.Owner == null)
                {
                    <td class="Island IslandBarBare" x="@j" y="@i" islandid="@island.IslandId"></td>
                }
                else
                {
                    <td class="Island IslandEnnemy" x="@j" y="@i" islandid="@island.IslandId"><div>@island.Owner.Name</div>    </td>
                }
            }

            else if (selectedrandom == 2)
            {
                <td class="EmptyMonster"></td>
            }
            else if (selectedrandom == 1)
            {
                <td class="EmptyHotAirBalloon"></td>
            }
            else if (selectedrandom == 3)
            {
                <td class="EmptySnake"></td>
            }
            else
            {
                <td class="Empty"></td>
            }
        }
    </tr>
}
</table>
</div>
</div>

<!-- Petit Menu OTD-->
<div id="Menu" style="display:none;">
    <ul>
        <li>
        <form asp-controller="Army" asp-action="SetAttackingArmy" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
            <input type="hidden" name="EnnemyIslandId" value="0" />
            <input type="submit" value="Attaquer"/>
        </form>
        <li>
            <form asp-controller="Profil" asp-action="ProfilOfOtherPlayer" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
                <input type="hidden" name="EnnemyIslandId" value="0" />
                <input type="submit" value="Voir profil"/>
            </form>
        </li>
    </ul>
</div>

<script src="~/js/worldmap.js"></script>

